{
  "security/cors": {
    "allow_origins": [
      "*"
    ],
    "allow_methods": [
      "POST",
      "GET"
    ],
    "allow_headers": [
      "Origin",
      "Authorization",
      "Content-Type"
    ],
    "expose_headers": [
      "Content-Length"
    ],
    "max_age": "12h"
  }
}
